<!DOCTYPE html>
<html>
<head>
	<title>SE Reputation Loss Calculator</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body style="padding-top:70px">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">SE Rep Loss Calculator</a>
			</div>
			<div id="navbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://github.com/jwbaker/se-rep-loss-calculator"><i class="fa fa-github"></i> Source</a></li>
					<li><a href="https://github.com/jwbaker/se-rep-loss-calculator/issues"><i class="fa fa-bug"></i> Report a bug</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<h2>Step 1: Log in</h2>	
		<div id="login-container">
			
		</div>

		<h2>Step 2: Select a site</h2>

		<h2>Step 3: Select a date range</h2>

		<h2>Step 4: Calculate</h2>
	</div>

	<div class="container">
		<hr />
		<p class="small"><i class="fa fa-copyright"></i> <%= year %> <a href="http://stackexchange.com/users/246453">Jason Baker</a></p>
	</div>

	<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
	<script type='text/javascript' src="js/se-integration.js"></script>
	<script type='text/javascript' src='https://api.stackexchange.com/js/2.0/all.js'></script>
</body>
</html>