<div class="card">
  <div class="card-header">
    <h2>
      Start Date:
      <small class="text-muted">{{dates.start | date:'longDate'}} {{times.start | date:'mediumTime'}}</small>
    </h2>
  </div>
  <div class="card-block">
      <datepicker [minDate]="min" [maxDate]="max" [(ngModel)]="dates.start" [showWeeks]="false"></datepicker>
      <timepicker [min]="min" [max]="max" [(ngModel)]="times.start" [showSeconds]="true" [showMeridian]="true"></timepicker>
  </div>
</div>
<div class="card">
    <div class="card-header">
      <h2>
        End Date:
        <small class="text-muted">{{dates.end | date:'longDate'}} {{times.end | date:'mediumTime'}}</small>
      </h2>
    </div>
    <div class="card-block">
        <datepicker [minDate]="min" [maxDate]="max" [(ngModel)]="dates.end" [showWeeks]="false"></datepicker>
        <timepicker [min]="min" [max]="max" [(ngModel)]="times.end" [showSeconds]="true" [showMeridian]="true"></timepicker>
      </div>
  </div>